html, body{
	height: 100%;
	min-height: 100%;
}

/* make sure it takes aaaaaaaaaall the space*/
.content {
	height: 100%;
	min-height: 100%;
}

/* image next to the channel name*/
.logo{
	max-height: 50px;
	max-width: 50px;
	margin-right: 1rem;
}

/* make sure the tab columns is black no matter what */
.tabsColumn {
	background-color: #111;
}

/* remove has-tip default styling */
.has-tip{
	border: none;
	font-weight: normal;
}

/* set display to block */
.block {
	display: block;
	margin: 1rem 0 1rem 0;
}

/* watch btn styling */
.watchBtn {
	margin: auto;
	background-color: transparent;
	border: 1px solid #CCC;
	border-radius: 5px;
	color: #CCC;
}

.watchBtn:hover, .watchBtn:focus {
	background-color: #000;
	border-color: #FFF;
	color: #FFF;
}

/* logo of offline channels */
.torso {
	display: inline-block;
	padding-top: 5px;
	font-size: 20px;
	min-width: 50px;
	margin-right: 1rem;
}

/* prevent tabs from growing too much in width */
#tabsWrapper{
	margin: 0;
}

/* each menu container, there are 3 menus : all, online, offline*/
.accordion {
	background-color: #111;
	margin: 0;
	border: none;
}

.accordion-title {
	border-bottom: solid 1px #333;
}

.accordion-title:hover, .accordion-title:focus {
	background-color: #222;
}

.accordion-content {
	background-color: #444;
	border: none;
}

/* change color of links inside stream info */
.accordion-content > a {
	color: #CCC;
}

.accordion-content > a:hover {
	color: #FFF;
}

/* what's switching the accordions, i.e. all online offline */
.tabs {
	background-color: #000; 
	border: none;
}

.tabs-content {
	border: none;
}

.tabs-panel {
	padding: 0;
}

.tabs-title {
	width: 100%;
}

.tabs-title > a {
	text-align: center;
	font-family: "Sans serif", Serif;
	background-color: #000;
	color: #FFF;
}

.tabs-title > a[aria-selected='true'] {
	background-color: #333;
}

.tabs-title > a:hover, .tabs-title > a:focus {
	background-color: #333;
	color: #FFF;
}

#playerContainer{
	margin: 0 10% 0 10%;
}

/* text above twitch player */
#streamInfo{
	font-family: "Sans Serif", Serif;
}

/* container of twitch player, text above twitch player and gradient hr */
.streamColumn{
	margin: 0 auto 0 auto;
	background-color: #CCC;
	min-height: 500px;
}

/* simulated hr with gradient color */
#lineAboveStream {
	width: 100px;
	height: 2px;
	background: linear-gradient(to right, #36B8E9, #000, #36B8E9);
}

@media (min-width: 1024px) {
	#streamInfo {
		padding-top: 10%;
	}

	#lineAboveStream {
		margin: 4rem auto 4rem auto;
	}
}

@media (max-width: 1023px) {
	#streamInfo {
		padding-top: 5%;
	}

	#lineAboveStream {
		margin: 2rem auto 2rem auto;
	}
}